In [1]:
# Importer les bibliothèques nécessaires
from sqlalchemy import create_engine
import pandas as pd

# Définir les paramètres de connexion
db_user = "postgres"        # Remplacez par votre utilisateur
db_password = "admin"       # Mot de passe de la base
db_host = "localhost"       # Hôte (localhost ou IP de Docker)
db_port = "15435"           # Port exposé par le container
db_name = "mart_db"         # Nom de la base de données

# Connexion à la base de données
try:
    engine = create_engine(f"postgresql+psycopg2://{db_user}:{db_password}@{db_host}:{db_port}/{db_name}")
    print("Connexion réussie à la base de données")
except Exception as e:
    print(f"Erreur de connexion : {e}")

Connexion réussie à la base de données

In [2]:
# Lister les tables disponibles
query = """
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public';
"""
tables = pd.read_sql(query, engine)

# Afficher les tables disponibles
print(tables)

  table_name
0  locations
1   payments
2      rides

In [3]:
# Charger les premières lignes de la table locations
query = "SELECT * FROM locations LIMIT 10"
locations_data = pd.read_sql(query, engine)

# Afficher les données
print(locations_data)

   location_id location_name location_type
0            1            75        Pickup
1            2           247        Pickup
2            3            13        Pickup
3            4           144        Pickup
4            5           121        Pickup
5            6            93        Pickup
6            7            94        Pickup
7            8            34        Pickup
8            9           182        Pickup
9           10           115        Pickup

In [4]:
# Charger les premières lignes de la table payments
query = "SELECT * FROM payments LIMIT 10"
payments_data = pd.read_sql(query, engine)

# Afficher les données
print(payments_data)

   payment_id  payment_type  tip_amount  tolls_amount  congestion_surcharge  \
0           1             1        0.50          0.00                   0.0
1           2             1       14.68          6.94                   2.5
2           3             1       13.36          6.94                   0.0
3           4             1       29.48          0.00                   0.0
4           5             1       25.55          6.94                   2.5
5           6             0        4.81          6.94                   NaN
6           7             0        2.84          0.00                   NaN
7           8             2        0.00        -21.69                   0.0
8           9             1       11.05         14.75                   0.0
9          10             1       13.57         11.19                   2.5

   airport_fee
0         1.75
1         0.00
2         1.75
3         1.75
4         1.75
5          NaN
6          NaN
7         0.00
8         0.00
9         1.75

In [5]:
# Charger les premières lignes de la table rides
query = "SELECT * FROM rides LIMIT 10"
rides_data = pd.read_sql(query, engine)

# Afficher les données
print(rides_data)

   ride_id vendorid tpep_pickup_datetime tpep_dropoff_datetime  trip_distance  \
0  2965134     None  2024-01-01 05:53:38   2024-01-01 06:03:32           2.19
1  2964862     None  2024-01-01 01:05:39   2024-01-01 01:18:44           2.52
2  2964625     None  2024-01-01 13:38:11   2024-01-01 13:50:04           2.20
3  2964783     None  2024-01-01 00:34:51   2024-01-01 01:13:46           5.24
4  2965457     None  2024-01-01 02:10:02   2024-01-01 02:14:12           0.90
5  2965133     None  2024-01-01 11:59:41   2024-01-01 12:08:07           1.36
6  2965522     None  2024-01-01 03:53:48   2024-01-01 04:01:28           0.87
7  2965595     None  2024-01-01 11:02:46   2024-01-01 11:07:11           0.60
8  2965432     None  2024-01-01 00:50:47   2024-01-01 01:05:04           2.64
9  2965294     None  2024-01-01 15:51:04   2024-01-01 15:56:25           1.65

  ratecodeid  passenger_count fare_amount  total_amount  pickup_location_id  \
0       None                1        None         21.36                 239
1       None                1        None         23.88                 231
2       None                1        None         20.40                 226
3       None                1        None         49.08                 249
4       None                1        None         12.12                  65
5       None                1        None         15.00                 186
6       None                1        None         14.60                 114
7       None                1        None         12.10                 141
8       None                1        None         21.63                 170
9       None                2        None         15.30                 229

   dropoff_location_id payment_id  payment_type
0                  140       None             1
1                  234       None             1
2                  112       None             1
3                  145       None             1
4                   49       None             1
5                  107       None             1
6                  232       None             1
7                  237       None             1
8                  141       None             1
9                  237       None             1

In [6]:
# Statistiques descriptives pour rides
print(rides_data.describe())

# Vérifier les valeurs manquantes
print(rides_data.isnull().sum())

            ride_id           tpep_pickup_datetime  \
count  1.000000e+01                             10
mean   2.965184e+06     2024-01-01 06:42:02.700000
min    2.964625e+06            2024-01-01 00:34:51
25%    2.964930e+06  2024-01-01 01:21:44.750000128
50%    2.965214e+06            2024-01-01 04:53:43
75%    2.965451e+06  2024-01-01 11:45:27.249999872
max    2.965595e+06            2024-01-01 15:51:04
std    3.355533e+02                            NaN

            tpep_dropoff_datetime  trip_distance  passenger_count  \
count                          10      10.000000        10.000000
mean   2024-01-01 06:53:51.300000       2.017000         1.100000
min           2024-01-01 01:05:04       0.600000         1.000000
25%           2024-01-01 01:32:36       1.015000         1.000000
50%           2024-01-01 05:02:30       1.920000         1.000000
75%           2024-01-01 11:52:53       2.440000         1.000000
max           2024-01-01 15:56:25       5.240000         2.000000
std                           NaN       1.342875         0.316228

       total_amount  pickup_location_id  dropoff_location_id  payment_type
count     10.000000           10.000000            10.000000          10.0
mean      20.547000          185.000000           163.400000           1.0
min       12.100000           65.000000            49.000000           1.0
25%       14.700000          148.250000           119.000000           1.0
50%       17.850000          206.000000           143.000000           1.0
75%       21.562500          230.500000           233.500000           1.0
max       49.080000          249.000000           237.000000           1.0
std       10.868556           61.777378            67.348513           0.0
ride_id                   0
vendorid                 10
tpep_pickup_datetime      0
tpep_dropoff_datetime     0
trip_distance             0
ratecodeid               10
passenger_count           0
fare_amount              10
total_amount              0
pickup_location_id        0
dropoff_location_id       0
payment_id               10
payment_type              0
dtype: int64

In [7]:
query = """
SELECT location_type, COUNT(*) AS total_locations
FROM locations
GROUP BY location_type
"""
location_summary = pd.read_sql(query, engine)
print(location_summary)

  location_type  total_locations
0       Dropoff              261
1        Pickup              520

In [8]:
query = """
SELECT payment_type, COUNT(*) AS total_payments
FROM payments
GROUP BY payment_type
"""
payment_summary = pd.read_sql(query, engine)
print(payment_summary)

   payment_type  total_payments
0             0            3393
1             1           20876
2             3             190
3             4             484
4             2             672

In [13]:
query = """
SELECT 
    DATE_TRUNC('month', tpep_pickup_datetime) AS month,
    AVG(trip_distance) AS avg_distance,
    AVG(total_amount) AS avg_revenue_per_ride
FROM rides
WHERE 
    tpep_pickup_datetime BETWEEN '2024-01-01' AND '2024-12-31' -- Filtrer uniquement sur l'année 2024
    AND total_amount > 0                                      -- Exclure les trajets avec un montant de 0 ou négatif
    AND trip_distance > 0                                     -- Exclure les trajets sans distance
GROUP BY month
ORDER BY month;
"""
filtered_monthly_analysis = pd.read_sql(query, engine)
print(filtered_monthly_analysis)

       month  avg_distance  avg_revenue_per_ride
0 2024-01-01      3.732297             27.329516
1 2024-02-01      4.083333             30.156667